.DashBoard{
    width: 80rem;
    height: 35rem;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 2rem auto;
    padding: 2rem;
    background-color: white;
    
}

.DashBoard_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.edit_button{
    width: 10rem;
     height: 4rem;
    background-color:   rgb(1, 86, 7);
    border-radius: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight:700 ;
    font-size: 1rem;
    color: white;
    cursor: pointer;
}

.categories_grid{
    width: 75rem;
    height: auto;
    margin-top: 2rem;
    
}
.categories_widget{
    width: 75rem;
   
    margin-bottom: 2rem;
    display: flex;
    
    
   
   align-items: center;
    gap: 1rem;
    margin-top: 1rem;
    

    
    
    
}

.categories_widget div{
    width: 30rem;
    background-color: white;
    box-shadow: 2px 2px 10px rgb(202, 200, 200);
    height: 10rem;
    padding: 1rem;
   
}

.categories_widget > div > p {
    text-align: center; /* Ensure text inside the <p> is centered */
}

.Add_widget{
display: flex;
justify-content: center;
align-items: center;
}
.Categories_button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12rem;
    gap: 1rem;
    cursor: pointer;
}
.Add-widget-shortcut{
    width: 2.5rem;
    height: 2.5rem;
   background-color:   rgb(1, 86, 7);
   border-radius: 50%;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-weight:700 ;
   font-size: 1rem;
   color: white;
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;

}

.scroll{
    width: 2rem;
    height: 2rem;
   background-color:   rgb(1, 86, 7);
   border-radius: 2rem;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-weight:700 ;
   font-size: 1rem;
   color: white;
   cursor: pointer;
}

.title{
color: rgb(225, 34, 34);
font-size: 1.5rem;
margin-bottom: 1rem;
}
.description{
font-size: 1.2rem;
}

.edit_button2{
    background-color: #c8c3c3;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    font-size: 1rem;
    width: 6rem;
    height: 3rem;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
}

.edit_button2 img {
    width: 2rem;
}