.EditModal{
    width: 80rem;
    height: 30rem;
    background-color: white;
    margin: 5rem auto;
    border: none;
    border-radius: 1rem;
    text-align: center;
}

.EditModal:focus{
    outline: none;
}

.EditModal h1{
    margin-top: 1rem;
}

.Edit_div_main{
    width: 75rem;
    margin: 0 auto;
   
    display: flex;
    padding: 1rem;
    height: 25rem;
    gap: 2rem;

}

.category_list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    padding-top: 3rem;
    
   
}

.edit_categories{
    width: 30rem;
    display: flex;
    gap: .5rem;
    flex-direction: column;
    
    
    
}



.category_list div{
    width: 20rem;
    background-color: rgb(233, 227, 227);
    
    border: 2px solid black;
    margin: 1rem auto;
    height: 3rem;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 1rem;
    font-size: 1.1rem;
    
}




.edit_widget{
    width: 40rem;
    
    height: 20rem;
    margin-bottom: 1rem;
}



.widget_list{
    
    height: 18rem;
    padding: 2rem;
    overflow-y: auto;
}

.widget_list_div{
    margin-top: .8rem;
    display: flex;
    gap: 1rem;
    
    justify-content: space-around;
}
.widget_list_div div{
    width: 15rem;
    background-color: beige;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: .2rem;
}

.edit_buttons{
    width: 40rem;
    background-color: bisque;
    position: relative;
}

.edit-button-confirm{
    display: flex;
    gap: 2rem;
    width:10 rem;
    position: absolute;
    right: 0;
}

.edit-button-confirm button:first-of-type{
   
        color: white;
        width: 5rem;
        height: 2rem;
        background-color: rgb(162, 167, 242);
        border: none;
        cursor: pointer;
    
}


.edit-button-confirm button:last-child{
    color: white;
    width: 5rem;
    height: 2rem;
    background-color: rgb(98, 98, 101);
    border: none;
    cursor: pointer;
}